<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [32]:
import pandas as pd

Load the dataset into a dataframe.

In [21]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [33]:
# your code goes here
df2=len(df) - len(df.drop_duplicates())
df2

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [34]:
# your code goes here
df2 = df.drop_duplicates(inplace = True)
df2

Verify if duplicates were actually dropped.

In [35]:
# your code goes here
print(df.duplicated().value_counts())

False    11398
dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [51]:
# your code goes here
print(df.isnull().cumsum())

       Respondent  MainBranch  Hobbyist  OpenSourcer  OpenSource  Employment  \
0               0           0         0            0           0           0
1               0           0         0            0           0           0
2               0           0         0            0           0           0
3               0           0         0            0           0           0
4               0           0         0            0           0           0
...           ...         ...       ...          ...         ...         ...
11547           0           0         0            0          81           0
11548           0           0         0            0          81           0
11549           0           0         0            0          81           0
11550           0           0         0            0          81           0
11551           0           0         0            0          81           0

       Country  Student  EdLevel  UndergradMajor  ...  SONewContent  Age  \
0            0        0        0               0  ...             0    0
1            0        0        0               0  ...             1    0
2            0        0        0               0  ...             1    0
3            0        0        0               1  ...             1    0
4            0        0        0               1  ...             1    0
...        ...      ...      ...             ...  ...           ...  ...
11547        0       51      112             736  ...          1964  287
11548        0       51      112             736  ...          1964  287
11549        0       51      112             736  ...          1964  287
11550        0       51      112             737  ...          1965  287
11551        0       51      112             737  ...          1965  287

       Gender  Trans  Sexuality  Ethnicity  Dependents  SurveyLength  \
0           0      0          0          0           0             0
1           0      0          0          0           0             0
2           0      0          0          0           0             0
3           0      0          0          0           0             0
4           0      0          0          0           0             0
...       ...    ...        ...        ...         ...           ...
11547      73    123        542        675         140            19
11548      73    123        542        675         140            19
11549      73    123        542        675         140            19
11550      73    123        542        675         140            19
11551      73    123        542        675         140            19

       SurveyEase  NormalizedAnnualCompensation
0               0                             0
1               0                             0
2               0                             0
3               0                             0
4               0                             0
...           ...                           ...
11547          14                           814
11548          14                           814
11549          14                           814
11550          14                           814
11551          14                           815

[11398 rows x 86 columns]

Find out how many rows are missing in the column 'WorkLoc'

In [12]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [29]:
# your code goes here
print(df['WorkLoc'].value_counts())
print(df['Employment'].value_counts())
print(df['UndergradMajor'].value_counts())

Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64
Employed full-time    11113
Employed part-time      439
Name: Employment, dtype: int64
Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [2]:
#make a note of the majority value here, for future reference
#Office has a majority value of 6806

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [45]:
# your code goes here
df['WorkLoc'].fillna('Office', inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [46]:
# your code goes here
df['WorkLoc'].isna().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [51]:
# your code goes here
df.CompFreq.value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [23]:
# your code goes here

df.loc[df['CompFreq']=='Yearly', 'NormalizedAnnualCompensation'] = 1*df['CompTotal']
df.loc[df['CompFreq']=='Monthly', 'NormalizedAnnualCompensation'] = 12*df['CompTotal']
df.loc[df['CompFreq']=='Weekly', 'NormalizedAnnualCompensation'] = 52*df['CompTotal']

df[['CompTotal', 'CompFreq','NormalizedAnnualCompensation']]
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).